body {
      background: #E6E6E6;
      font-family: 'Orbitron', sans-serif;
}
   
h1, h2 {
      margin: 10px;
      line-height: 30px;
      letter-spacing: 4px;
}

ul {
   display: flex;
   margin-top: 5px;
   padding: 0;
   width: 100%;
}

li {
   display: inline;
   flex: 2;
   justify-content: flex-start;
   line-height: 50px;
   width: 30px;
   font-size: 2em;
   text-align: center;
}

li:nth-child(1) {
   display: none;
}

.contentWrapper {
   display: flex;
   flex-direction: row;
   justify-content: center;
   margin: 15% auto;
}
.content {
   display: flex;
   flex-direction: column;
}

@media screen and (min-width: 500px) {
   h1 {
      font-size: 2.8em;
   }

   h2 {
      font-size: 2.2em;
   }
   ul {
      margin-top: 25px;
   }

   li {
      font-size: 4em;
      width: 80px;
   }

   li:nth-child(1) {
      display: inherit;
   }

   .content h1, .content h2 {
      margin-left: 80px;
   }
}