body {
      background: #E6E6E6;
      font-family: 'Orbitron', sans-serif;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
}
   
h1, h2 {
      margin: 10px;
      line-height: 30px;
      letter-spacing: 4px;
}

ul {
   display: flex;
   margin: 5px 0 0 10px;
   padding: 0;
   width: 200px;
}

li {
   display: inline;
   flex: 2;
   justify-content: flex-start;
   line-height: 50px;
   width: 30px;
   font-size: 2em;
   text-align: center;
}

li:nth-child(1) {
   display: none;
}

.contentWrapper {
   display: flex;
   flex: 9;
   flex-direction: row;
   justify-content: center;
   margin: 0 auto;
   height: 50vh;
}
.content {
   display: flex;
   flex-direction: column;
   padding: 25% 0;
}

/* === Footer === */
footer {
   display: flex;
   flex: 1;
   align-self: center;
   flex-direction: row-reverse;
   height: 40px;
}

footer img {
   margin-right: 15px;
   height: 90%;
}

footer a {
   color:#fff;
   margin: 13px 10px 0px 0px;
}

footer a:visited{
   color:#999999;
}

@media screen and (min-width: 500px) {
   h1 {
      font-size: 2.8em;
   }

   h2 {
      font-size: 2.2em;
   }

   ul {
      margin-top: 25px;
      width: 460px;
   }

   li {
      font-size: 4em;
      width: 80px;
   }

   li:nth-child(1) {
      display: inherit;
   }

   .content h1, .content h2 {
      margin-left: 75px;
   }

   footer {
   align-self: flex-end;
   }
}